<!DOCTYPE html>
<html>
  <head>
    <title>Jisi Guo | Home</title>
  </head>
  <body>
    <h1>
      <div class="h1-a">
        Numba Wan Bachela:
      </div>
      <div class="h1-b">
        Jisi Guo
      </div>
    </h1>
    <div class="img">
      <%= image_tag("jisi-beer.jpg", alt: "Jisi", size: "350x470") %>
    </div>
    <div class="t1">
      Jisi Guo taking application for pretty ladie to become his wife. If you have interest, you <a href="mailto:jisiguo@baidu.com?Subject=Hello%20ladie's%20man"> send him email</a>. Applicant must be qualify as describe on this page.
    </div>
    <div class="img">
      <%= image_tag("jisi-young.jpg", alt: "Young Jisi", size: "250x295") %>
    </div>
    <div class="t1">
      Jisi very handsome, even from young age. He a child prodigy ladie's man.
    </div>
    <h2>
      Jisi has many reason to be proud:
    </h2>
    <div class="list">
      <ol>
        <li>Former Chinese graduate stuent.</li>
        <li>Strong hand for work.</li>
        <li>Very stout.</li>
        <li>He a ladie's man.</li>
        <li>Great big American Smile.</li>
        <li>He play basketball like chocolate-man.</li>
        <li><strong>No retardation</strong> in family.</li>
        <li>His father live in LA, home of many movie star.</li>
        <li>He will protect you from poison chemical.</li>
        <li>He a real gentle man.</li>
        <li>His embrace bring fortune to young ladie, and prosperity to her family.</li>
        <li>He will kick dog who try bite you.</li>
        <li>He drive BMW motorcar like Big Business man.</li>
      </ol>
    </div>
    <div class="img">
      <%= image_tag("jisi-glasses.jpg", alt: "Jisi in glasses", size: "400x420") %>
    </div>
    <div class="t1">
      These not Jisi's real glasses, they just a joke! He know how to have good time!
    </div>
    <h2>
      Applicant must prove qualifications:
    </h2>
    <div class="list">
      <ol>
        <li>Must be tight sweet virgin.</li>
        <li>Fist must be loose, heart must be pure.</li>
        <li>Know how to clean fish, very fast.</li>
        <li>Pure Han blood.</li>
        <li>Butthole like chinese finger trap.</li>
        <li>No interest in majong.</li>
        <li>Feet 15cm long maximum.</li>
        <li>Come from honorable family.</li>
      </ol>
    </div>
  <%= audio_tag("chinese-song.mp3", controls: true, autoplay: true) %>
  <body>
</html>
