<!DOCTYPE html>
<html>
  <head>
    <title>Jisi Guo | Home</title>
  </head>
  <body>
    <h1>Jisi Guo - Numba Wan Bachela</h1>
    <%= image_tag("jisi-beer.jpg", alt: "Jisi", size: "350x470") %>
    <p>Jisi Guo is courting single woman from honorable family for wife.</p>
    <p>Jisi has many reason to be proud: </p>
    <ol>
      <li>Former Chinese graduate stuent.</li>
      <li>Strong hand for work.</li>
      <li>Very stout.</li>
      <li>Great big American Smile.</li>
      <li>He play basketball like chocolate-man.</li>
      <li>No retardation in family.</li>
      <li>His father live in LA, home of many movie star.</li>
      <li>He will protect you from poison chemical.</li>
      <li>He is a real gentle man.</li>
      <li>His touch bring fortune to young woman, and prosperity to her family.</li>
      <li>He will kick dog who try bite you.</li>
      <li>He drive BMW motorcar like Big Business man.</li>
    </ol>
  <%= audio_tag("test.wav", controls: true, autoplay: true) %>
  <body>
</html>
